<div>
    <h4 class="bg-primary text-white p-3">Mi primera aplicación SPA</h4>
</div>
<div class="ps-3">
    <p>Nombre del pais: URUGUAY</p>
    <img style="height: 200px;" src="https://upload.wikimedia.org/wikipedia/commons/thumb/f/fe/Flag_of_Uruguay.svg/270px-Flag_of_Uruguay.svg.png" alt="Bandera Uruguay" class="img-thumbnail">
    <h5 class="pb-2 pt-3">Datos generales:</h5>
    <p>Uruguay es un país de Sudamérica conocido por su interior verde y costa bordeada de playas. La capital, Montevideo, se ubica en torno a la plaza Independencia, donde alguna vez hubo una ciudadela española. Esta lleva a la Ciudad Vieja, casas coloniales y el Mercado del Puerto con muchos restaurantes de carnes. La Rambla es un paseo costero con puestos de pescados, muelles y parques.</p>
</div>