<div class="border-end h-100 p-4 list-group">
    <a class="navbar-brand ps-3 pb-4" href="/peru"><h4>Menu</h4></a>
    
    <ul class="navbar-nav">
        <li class="nav-item">
            <a routerLinkActive="bg-secondary text-white" routerLink="/peru" class="list-group-item list-group-item-action border-0" href="/peru" >Perú</a>
        </li>
        <li class="nav-item">
            <a class="list-group-item list-group-item-action border-0" href="/chile" routerLinkActive="bg-secondary text-white" routerLink="/chile">Chile</a>
        </li>
        <li class="nav-item">
            <a class="list-group-item list-group-item-action border-0" href="/uruguay" routerLinkActive="bg-secondary text-white" routerLink="/uruguay">Uruguay</a>
        </li>
    </ul>
</div>

