<div>
    <h4 class="bg-primary text-white p-3">Mi primera aplicación SPA</h4>
</div>
<div class="ps-3">
    <p>Nombre del pais: PERÚ</p>
    <img style="height: 200px;" class="img-thumbnail" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/99/Flag_of_Peru_%281884%E2%80%931950%29.svg/220px-Flag_of_Peru_%281884%E2%80%931950%29.svg.png" alt="Bandera Perú">
    <h5 class="pb-2 pt-3">Datos generales:</h5>
    <p>Perú es un país de Sudamérica que abarca una sección del bosque del Amazonas y Machu Picchu, una antigua ciudad inca en las alturas de los Andes. La región en torno a Machu Picchu, incluido el Valle Sagrado, el Camino del Inca y la ciudad colonial de Cuzco, es rica en sitios arqueológicos.</p> 
    <p>El Perú es uno de los países más variados del mundo. Un país multicultural, lleno de tradiciones, una laureada gastronomía y vastas reservas naturales.</p>
</div>
